* *:last-child {margin-bottom: 0;}



#icons {
    border: 2px solid rgb(255, 205, 205);
    border-radius: 50%;
    
}

#icons:hover {
    opacity: 0.8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#CreateAndrew {
    border: 2px solid white;
    background-color: white;
}

.floating-container {
    margin-top: -3.9rem;
}

.card-img-top {
    width: 3rem;
} 

.textalign {
   text-align: left;
}

.imgHeigth {
    height: 25rem;
    width: 25rem;
}

.card-img-selo {
    height: 15rem;
    width: 10rem;
    
}

.navbar {
    font-size: 1rem;
    font-weight: bold;
}

.lista {
    list-style: none;
    
}

.imgF {
    width: 1.5rem;
}

.imgF:hover {
    width: 1.7rem;
    cursor:pointer;
    opacity: 0.8;

}

.aumenta-card:hover {
    opacity: 0.8;
    transform: scale(1.1);
    
}

