#icons {
    border: 2px solid rgb(255, 205, 205);
    border-radius: 50%;
    
}

#icons:hover {
    opacity: 0.8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#CreateAndrew {
    border: 2px solid white;
    background-color: white;
}

#fundo {
    height: 19rem;
    background-image: url(/images/background.jpg);
    background-size: cover;
   
}
