.body {
    position: relative;
}
#icons {
    border: 2px solid rgb(255, 205, 205);
    border-radius: 50%;
    
}

#icons:hover {
    opacity: 0.8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#CreateAndrew {
    border: 2px solid white;
    background-color: white;
}

.floating-container {
    margin-top: -3.9rem;
}

.card-img-top {
    width: 3rem;
} 

